@import url("https://fonts.googleapis.com/css?family=Oswald");

:root {
  --black: #2b2c33;
  --oxford-blue: #14274e;
  --charcoal: #394867;
  --cadet-grey: #aab5c7;
  --white: #f1f6f9;
  --jungle-green: #0c4745;
  --maroon: #741416;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--white);
  color: var(--black);
  font-family: "Oswald", sans-serif;
}

/* navbar styles */

nav  {
  background-color: var(--oxford-blue);
  display: flex;
  align-items: center;
}

.main {
  margin: 0 2rem;
  color: var(--cadet-grey);
  font-weight: 200;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

nav ul {
  flex-grow: 2;
  display: flex;
  justify-content: flex-end;
}

nav ul li {
  list-style-type: none;
  margin: 0 2rem;
}

nav a {
  color: var(--white);
  text-decoration: none;
}

nav a:hover {
  color: white;
  text-decoration: underline; 
}

/* Superheroes List styles */

.superheroes-list {
  margin: 2rem 8rem;
}

table {
  border-collapse: collapse;
  border: 2px solid var(--oxford-blue);
  text-align: center;
  color: inherit;
}

thead {
  background-color: var(--charcoal);
  color: var(--white);

}

th {
  height: 4rem;
  font-weight: normal;
}

tr {
  border-bottom: 1px solid var(--charcoal);
}

tr:last-child {
  border-bottom: none;
}

td {
  padding: 5px;
  border-right: 1px solid var(--charcoal);
}

td:last-child {
  border-right: none;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.button {
  background-color: transparent;
  display: inline-block;
  font-size: 1em;
  position: relative;
  font-family: inherit;
  border: none;
  border-radius: 3px;
  padding: 2px;
  text-decoration: none;
  outline: 0;
  height: 1.5rem;
  width: 4rem;
}

.button:hover {
  cursor: pointer;
  color: var(--white);
}

.button:focus {
  top: 2px;
}

.button-green {
  color: var(--jungle-green);
  border: 2px solid var(--jungle-green);
  margin-bottom: 10px;
}

.button-green:hover {
  background-color: var(--jungle-green);
}

.button-red {
  border: 2px solid var(--maroon);
  color: var(--maroon);
  height: 2rem;
  width: 4.5rem;
}

.button-red:hover {
  background-color: var(--maroon);
}

/* Create & Edit Superhero styles */

.superhero-form {
  margin: 2rem 8rem;
  border: 2px solid var(--oxford-blue);
  border-radius: 4px;
  padding: 15px;
}

input {
  font-family: monospace;
  width: 99%;
  outline: 0;
  border: none;
  border-bottom: 1px solid var(--charcoal);
  background-color: transparent;
}

.button-blue {
  border: 2px solid var(--oxford-blue);
  color: var(--oxford-blue);
  margin-top: 50px;
  width: 15vw;
  height: 5vh;
}

.button-blue:hover {
  background-color: var(--oxford-blue);
}
